<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_length" value="0.180" />
  <xacro:property name="base_width" value="0.130" />
  <xacro:property name="base_height" value="0.075" />
  <xacro:property name="base_mass" value="1" />

  <xacro:property name="wheel_radius" value="0.0215" />
  <xacro:property name="wheel_width" value="0.019" />
  <xacro:property name="wheel_pos_x" value="0.046" />
  <xacro:property name="wheel_pos_y" value="0.075" />
  <xacro:property name="wheel_pos_z" value="0.0" />
  <xacro:property name="wheel_mass" value=".02" />
  <xacro:property name="wheel_torque" value="0.016" />

  <xacro:property name="laser_pose">
    <origin xyz="0.0053 0 0.125" rpy="0 0 0"/>
  </xacro:property>

</robot>
